[submodule "ironstone-core"]
	path = ironstone-core
	url = http://192.168.4.97:7990/scm/is/ironstone-core.git
	branch = dev
[submodule "ironstone-object-model"]
	path = ironstone-object-model
	url = http://192.168.4.97:7990/scm/is/ironstone-object-model.git
	branch = dev
[submodule "ironstone-structures"]
	path = ironstone-structures
	url = http://192.168.4.97:7990/scm/is/ironstone-structures.git
	branch = dev
[submodule "ironstone-housing"]
	path = ironstone-housing
	url = http://192.168.4.97:7990/scm/is/ironstone-housing.git
	branch = dev
[submodule "ironstone-draughter"]
	path = ironstone-draughter
	url = http://192.168.4.97:7990/scm/is/ironstone-draughter.git
	branch = features/IS-1-Drafter
[submodule "DesignCalculations"]
	path = DesignCalculations
	url = https://github.com/JPPGroup/DesignCalculations.git
	branch = InitialStructure
[submodule "BackgroundPipeline"]
	path = BackgroundPipeline
	url = https://github.com/JPPGroup/BackgroundPipeline.git
	branch = features/razor-ui
[submodule "Common"]
	path = Common
	url = https://github.com/JPPGroup/Common.git
	branch = features/pipeline-improvements
