[submodule "DesignCalculations"]
	path = DesignCalculations
	url = https://github.com/JPPGroup/DesignCalculations.git
	branch = InitialStructure
[submodule "BackgroundPipeline"]
	path = BackgroundPipeline
	url = https://github.com/JPPGroup/BackgroundPipeline.git
	branch = features/razor-ui
[submodule "Common"]
	path = Common
	url = https://github.com/JPPGroup/Common.git
	branch = features/pipeline-improvements
[submodule "ProjectDocuments"]
	path = ProjectDocuments
	url = https://github.com/JPPGroup/ProjectDocuments.git
[submodule "IronstoneCore"]
	path = IronstoneCore
	url = https://github.com/JPPGroup/IronstoneCore.git
[submodule "IronstoneDrafter"]
	path = IronstoneDrafter
	url = https://github.com/JPPGroup/IronstoneDrafter.git
[submodule "IronstoneObjectModel"]
	path = IronstoneObjectModel
	url = https://github.com/JPPGroup/IronstoneObjectModel.git
[submodule "IronstoneStructures"]
	path = IronstoneStructures
	url = https://github.com/JPPGroup/IronstoneStructures.git
[submodule "IronstoneHousing"]
	path = IronstoneHousing
	url = https://github.com/JPPGroup/IronstoneHousing.git
[submodule "IronstoneDocumentManagement"]
	path = IronstoneDocumentManagement
	url = https://github.com/JPPGroup/IronstoneDocumentManagement.git
[submodule "NautilusLink"]
	path = NautilusLink
	url = https://github.com/JPPGroup/NautilusLink.git
