<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>        
        <add key="github" value="https://nuget.pkg.github.com/jppgroup/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="jppgroup" />
            <add key="ClearTextPassword" value="658f299d1a8b72aa71913179119329a3a670e9c7" />
        </github>
    </packageSourceCredentials>
</configuration>
